.card {
    background-color: white;
    margin: 8% 5% 8% 5%;
    padding: 20px;
    box-shadow: 5px 5px 2px 1px rgb(201, 199, 199);
    @media (min-width: 768px) {
        margin: 10% 20% 10% 20%;
        padding: 30px;
    }
    @media (min-width: 1200px) {
        margin: 5% 25% 5% 25%;
    }
    &__grid {
        display: grid;
        grid-template-columns: 40% 60%;
    }
}