/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    color: inherit;
}

.page {
    background-color: rgb(240, 245, 247);
}

ul {
    padding-left: 0;
}

h4,
h6 {
    font-size: unset;
}

h6 {
    margin: unset;
    font-weight: bold;
}